<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>About Me</h1>
        <h2> ... and my new Astro site!</h2>

        <p>
            I'm a software developer with a passion for building things. I'm a big fan of Astro and I'm excited to share my thoughts on it with you.
        </p>

        <p>
           This site is built with Astro. I'm using it to learn more about the framework and to share my thoughts on it with you.
           This site will update as I learn more about Astro and as I build more things with it.
        </p>
	</body>
</html>
