---
export interface Props {
  width?: string;
  height?: string;
  fen?: string;
}

const { width = '400px', height = '400px', fen = 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1' } = Astro.props;
---

<div id='chessboard' class="chessboard"></div>

<script type="module" define:vars={{ fen }}>
  import { Chessground } from '/node_modules/chessground/dist/chessground.min.js';
  import { Chess } from '/node_modules/chess.js/dist/esm/chess.js';

  const chessboard = document.getElementById('chessboard');
  const chess = new Chess();
  const config = {
    movable: {
        color: 'white',
        dests: getDests(chess),
        free: false,
    },
    events: {
        move: onMove,
    }
  }
  const ground = Chessground(chessboard, config);

  function getDests(chess) {
      const dests = new Map();
      const squares = [
        'a8', 'b8', 'c8', 'd8', 'e8', 'f8', 'g8', 'h8',
        'a7', 'b7', 'c7', 'd7', 'e7', 'f7', 'g7', 'h7',
        'a6', 'b6', 'c6', 'd6', 'e6', 'f6', 'g6', 'h6',
        'a5', 'b5', 'c5', 'd5', 'e5', 'f5', 'g5', 'h5',
        'a4', 'b4', 'c4', 'd4', 'e4', 'f4', 'g4', 'h4',
        'a3', 'b3', 'c3', 'd3', 'e3', 'f3', 'g3', 'h3',
        'a2', 'b2', 'c2', 'd2', 'e2', 'f2', 'g2', 'h2',
        'a1', 'b1', 'c1', 'd1', 'e1', 'f1', 'g1', 'h1'
      ];
      squares.forEach(s => {
        const ms = chess.moves({square: s, verbose: true});
        if (ms.length) dests.set(s, ms.map(m => m.to));
      });
      return dests;
    }

    function onMove(orig, dest) {
      chess.move({from: orig, to: dest});
      ground.set({
        fen: chess.fen(),
        turnColor: chess.turn() === 'w' ? 'white' : 'black',
        movable: {
          color: chess.turn() === 'w' ? 'white' : 'black',
          dests: getDests(chess)
        },
        check: chess.inCheck()
      });
    }
</script>

<style define:vars={{ width, height }}>
  #chessboard {
    margin: 2rem auto;
    width: var(--width);
    height: var(--height);
    border: 1px solid #000;
  }
</style>

<link rel="stylesheet" href="/node_modules/chessground/assets/chessground.base.css">
<link rel="stylesheet" href="/node_modules/chessground/assets/chessground.brown.css">
<link rel="stylesheet" href="/node_modules/chessground/assets/chessground.cburnett.css">
